[submodule "lapis-redis"]
    path = vendor/lapis-redis
    url = https://github.com/leafo/lapis-redis.git
[submodule "lua-resty-http-simple"]
    path = vendor/lua-resty-http-simple
    url = https://github.com/bakins/lua-resty-http-simple.git
